
<%= simple_form_for @listing do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">

    <%= f.input :title %>

    <%= f.input :is_available %>

    <%= f.input :sale_price %>
    <%= f.input :price_per_time %>
     <%#= f.input :time_unit_id %>
    <%#= f.input :listing_type_id %>
    <%= f.collection_select :time_unit_id, TimeUnit.all, :id, :name, :prompt => "Select a Time Unit" %>

    <%= f.collection_select :listing_type_id, ListingType.all, :id, :name, :prompt => "Select a Listing Type" %>
    <%= f.input :auction_begin_price %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
