<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
   <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <p>
    <label for="item_category_id">Category:</label><br />
    <%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "Select a Category" %>
    or create one:
    <%= f.text_field :new_category_name %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
