

<ul>
  <li><%= @item.id  %></li>

  <li><%= @item.title  %></li>

  <li><%= @item.user_id %></li>
  <li><%= @item.description %></li>
  <li><%= @item.location %></li>
  <li><%= @item.category.name %></li>
  <%= link_to 'creat listing',  new_item_listing_path(@item) %>


</ul>
